#left{
    padding-top: 50%;
    margin-right: 100px;
    margin-left: 50px;
}
#img{
    padding-top: 50%;
    padding-left: 50%;
    margin-right: 100px;
}
#right{
    padding-top: 70%;
    margin-left: 50px;
}
